@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background-color: #f5f4ff;
  font-family: "Ubuntu", sans-serif;
}

.header {
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0px auto;
  padding-left: 13%;
  padding-right: 13%;
}

.icon {
  display: none;
}
.btn-bank-menu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

nav a {
  font-weight: 700;
  font-size: 24px;
  line-height: 112%;
  letter-spacing: 0.02em;
  padding: 3px;
  color: #b4387a;
  text-decoration: none;
}

.nav-links {
  flex: 1;
  padding-left: 13%;
  padding-right: 13%;
}

.nav-links ul {
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 1% 2%;
  position: relative;
}

.nav-links ul li a {
  color: #1d1929;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 112%;
}

.nav-links ul li a:hover {
  color: #b2a35f;
  transition: 0.3s;
}

.nav-links .active {
  color: #b2a35f;
}

.btn-bank {
  display: inline-block;
  text-decoration: none;
  color: #f5f4ff;
  border: 1px solid #003cff;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  background: #003cff;
  cursor: pointer;
  border-radius: 16px;
}

.btn-bank:hover {
  border: 1px solid #003cff;
  background: #f5f4ff;
  color: #003cff;
  transition: 0.4s;
}

/* Первый блок */

.item1 {
  grid-area: text1;
}
.item2 {
  grid-area: card1;
}
.item3 {
  grid-area: card2;
}
.item4 {
  grid-area: card3;
}
.item5 {
  grid-area: card4;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "text1 card1 card2 "
    "text1 card3 card4 ";
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-gap: 3%;
  padding-top: 3%;
}

.title p {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #1c1c1e;
}

.title img {
  height: 150px;
  object-fit: contain;
}

.btn-title {
  display: inline-block;
  text-decoration: none;
  color: #f5f4ff;
  border: 1px solid #003cff;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  background: #003cff;
  cursor: pointer;
  border-radius: 16px;
}

.btn-title:hover {
  border: 1px solid #003cff;
  background: #f5f4ff;
  color: #003cff;
  transition: 0.4s;
}

/* Возможности */

.item1-features {
  grid-area: menu;
}
.item2-features {
  grid-area: main;
}

.grid-features {
  display: grid;
  grid-template-areas: "menu main";
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
  overflow: hidden;
}

.features svg {
  padding-top: 9%;
}

.features-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
  margin-top: 11%;
  margin-bottom: 20px;
}

.features-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  margin-bottom: 5%;
}

.features li {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 12px;
  color: #4f5665;
  list-style: none; /* Убираем исходные маркеры */
  background: url(/public/images/success.png) no-repeat; /* Параметры фона */
  padding-left: 8%;
}

.features ul {
  padding: 0%;
}

/* Валюты */

.currency-main {
  background: linear-gradient(
      358.2deg,
      rgba(178, 178, 178, 0.8) 8.06%,
      rgba(178, 178, 178, 0) 67.93%
    ),
    rgba(244, 244, 244, 0.9);
  mix-blend-mode: normal;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08),
    0px 2px 4px rgba(187, 187, 187, 0.2);
  border-radius: 28px;
  margin-top: 5%;
}

.item1-currency {
  grid-area: menu;
}
.item2-currency {
  grid-area: main;
}
.item3-currency {
  grid-area: footer;
}
.item4-currency {
  grid-area: header;
}

.grid-currency {
  display: grid;
  grid-template-areas:
    "menu main"
    "footer header";
  grid-template-columns: 60% 33%;
  overflow: hidden;

  grid-column-gap: 7%;
}

.currency-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  color: #1c1c1e;
  padding: 5%;
}

.update {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #000000;
  width: 100%;
  padding-top: 8.5%;
}

.subtitle-currency {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-left: 5%;
}

.money {
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding-left: 5%;
}

.gray {
  color: #808080;
  font-weight: 500;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  padding-left: 5%;
}

.all_courses {
  margin-top: 6%;
  margin-left: 5%;
  margin-bottom: 4%;
}

.course {
  font-weight: 700;
  font-size: 20px;
  line-height: 112%;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}

.course:hover {
  color: #020202;
}

.dom {
  padding-left: 50%;
  padding-top: 16%;
}

.currency-data {
  display: flex;
  width: 420px;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 2%;
}

/* Карта */

.title-map {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 0;
}

.subtitle-map {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #1c1c1e;
  margin-top: 0;
}

.svg img {
  width: 100%;
}

.svg {
  position: relative;
  text-align: center;
  margin-top: 3%;
}

.big-dot {
  position: absolute;
  left: 20%;
  top: 20%;
}

.little-dot {
  position: absolute;
  left: 30%;
  top: 18%;
}

/* Новости */

.title-news {
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.subtitle-news {
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #2d3748;
  margin-top: 0;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body a {
  display: block;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  width: 320px;
  height: 448px;
}

.card-body a:hover {
  filter: brightness(95%);
}

.card-text a {
  display: inline;
  background: transparent;
  box-shadow: none;
  color: #003cff;
}

.card {
  margin: 2%;
}

.card-body img {
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.card-body h2 {
  text-align: center;
  font-size: 20px;
  margin: 2% 10%;
}

.card-body p {
  text-align: center;
  font-size: 14px;
  margin: 5% 10%;
}

.pagination {
  display: flex;
  justify-content: right;
  padding-right: 9%;
}

.pagination li {
  text-decoration: none;
  display: inline;
}

.page-link {
  background: #ffffff;
  border: 1px solid #003cff;
  border-radius: 50px;

  width: 64px;
  height: 64px;
  cursor: pointer;
}

.right-bth {
  transform: scale(-1, 1);
}

.news button:hover {
  background: #ffee00;
  border: 1px solid #ffee00;
}

.page-item:hover {
  filter: invert(100%);
}

.news button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* Поддержка */

.title-support {
  font-weight: 700;
  font-size: 24px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #eb801d;
  margin-top: 3%;
}

.subtitle-support {
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.bank-news {
  font-weight: 500;
  font-size: 30px;
  line-height: 147.4%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.email {
  background-image: url(/public/images/email.png);
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 30px;
  outline: none;
  border-radius: 20px;
  padding-left: 60px;
  padding-right: 190px;
  height: 89.84px;
  width: 55%;
  border: none;
  font-weight: 400;
  font-size: 20px;
  color: #686df1;
  box-shadow: 0px 10px 20px rgba(54, 58, 120, 0.1);
}

.support form {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.btn-support {
  background-image: url(/public/images/send.png);
  background-repeat: no-repeat;
  background-position: 13px;
  background-size: 20px;
  cursor: pointer; /*Убираем повтор изображения*/
  width: 150.48px;
  height: 44.92px;
  background-color: #686df1;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 126.9%;
  color: #ffffff;
  padding: 8px;
  margin-top: 20px;
  margin-left: -170px;
  transition: 0.5s;
}

.btn-support:hover {
  background-color: #6a6dcf;
}

/* footer */
footer {
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(178, 178, 178, 0.2),
      rgba(178, 178, 178, 0.2)
    ),
    #f4f4f4;
  margin-top: 5%;
  height: 462px;
}

footer img {
  padding: 96px 0 0 15%;
}

.phone {
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  text-align: right;
  color: #000000;
  position: relative;
  bottom: 18%;
  padding-right: 17.5%;
}

.info {
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  text-align: right;
  letter-spacing: 0.02em;
  color: #2d3748;
  position: relative;
  bottom: 21%;
  padding-right: 24%;
}

.links-footer {
  position: relative;
  bottom: 15%;
  display: flex;
  padding-left: 13.5%;
  padding-right: 15%;
  flex: 1;
}

.links-footer ul {
  margin: 0;
  padding: 0;
}

.links-footer ul li {
  list-style: none;
  display: inline-block;
  padding-left: 2%;
  padding-bottom: 1%;
}

.links-footer a {
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #000000;
  text-decoration: none;
  padding-bottom: 20px;
  transition: 0.5s;
}

.links-footer a:hover {
  color: #b2a35f;
}

.line {
  max-width: 68%;
  height: 0px;
  border: 2px solid rgba(255, 255, 255, 0.81);
  transform: rotate(179.82deg);
  margin-left: 15%;
  margin-top: -40px;
}

.text {
  width: 68%;
  word-wrap: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  letter-spacing: 0.02em;
  color: #2d3748;
  margin-left: 15%;
}

/* loan */

.apply-main {
  background: linear-gradient(
    180.8deg,
    rgba(203, 213, 224, 0.624) 34.33%,
    rgba(254, 235, 200, 0.56) 64.27%
  );
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28.8px;
  margin-top: 5%;
  padding: 3%;
}

.item1-apply {
  grid-area: title;
}
.item2-apply {
  grid-area: subt;
}
.item3-apply {
  grid-area: pers;
}
.item4-apply {
  grid-area: limit;
}
.item5-apply {
  grid-area: service;
}
.item6-apply {
  grid-area: but;
}
.item7-apply {
  grid-area: img;
}

.grid-apply {
  display: grid;
  grid-template-areas:
    "title title title img"
    "subt subt subt img"
    "pers limit service img"
    "but but but img";
  grid-template-columns: auto;
  overflow: hidden;
}

.apply-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #ffffff;
}

.apply-subtitle {
  font-size: 16px;
  font-weight: 500;
}

.apply-t {
  font-weight: 700;
  font-size: 20px;
  color: #3d3d3d;
  margin-top: 3%;
  margin-bottom: 3%;
}

.apply-g {
  font-weight: 500;
  font-size: 16px;
  color: #3d3d3d;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-apply {
  display: inline-block;
  text-decoration: none;
  color: #f5f4ff;
  border: 1px solid #003cff;
  padding: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  background: #003cff;
  cursor: pointer;
  border-radius: 8px;
}

.btn-apply:hover {
  border: 1px solid #003cff;
  background: #f5f4ff;
  color: #003cff;
  transition: 0.4s;
}

/* Tabs */

.bloc-tabs {
  display: flex;
  margin-top: 4%;
}
.tabs {
  padding: 1%;
  cursor: pointer;
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #7b7454;
}

.active-tabs {
  border-bottom: 2px solid #7b7454;
}

.active-tabs::before {
  content: "";
  display: block;
}

.content {
  display: none;
}
.active-content {
  display: block;
}

/* Card */

.item1-card {
  grid-area: one;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item2-card {
  grid-area: two;
  background: rgba(127, 146, 172, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item3-card {
  grid-area: three;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}

.grid-cardup {
  display: grid;
  grid-template-areas: "one two three";
  grid-template-columns: 31% 31% 31%;
  grid-gap: 3%;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.item4-card {
  grid-area: four;
  background: rgba(127, 146, 172, 0.7);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item5-card {
  grid-area: five;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}

.grid-carddown {
  display: grid;
  grid-template-areas: "four five";
  grid-template-columns: 48% 48%;
  grid-gap: 3%;
  justify-content: center;
}

/* Rates */

.table-rates td {
  border-bottom: 1px solid #7f92ac;
  padding: 2%;
}

/* Cashback */

.item1-cashback {
  grid-area: cash1;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item2-cashback {
  grid-area: cash2;
  background: rgba(136, 179, 184, 0.6);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}

.item3-cashback {
  grid-area: cash3;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item4-cashback {
  grid-area: cash4;
  background: rgba(136, 179, 184, 0.6);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item5-cashback {
  grid-area: cash5;
  background: #eaecee;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}
.item6-cashback {
  grid-area: cash6;
  background: rgba(136, 179, 184, 0.6);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 4%;
}

.grid-cashback {
  display: grid;
  grid-template-areas:
    "cash1 cash2 cash3"
    "cash4 cash5 cash6";
  grid-template-columns: 31% 31% 31%;
  grid-row-gap: 10%;
  grid-column-gap: 3%;
  justify-content: center;
  margin-top: 2%;
}

.faq {
  margin-top: 4%;
}

/* prescoring */
.title-pres {
  margin-top: 4%;
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  text-align: center;
}

.item1-steps {
  grid-area: first;
}

.item2-steps {
  grid-area: second;
}

.item3-steps {
  grid-area: third;
}

.grid-steps {
  display: grid;
  grid-template-areas: "first second third";
  grid-template-columns: 31% 31% 31%;
  grid-row-gap: 10%;
  grid-column-gap: 3%;
  justify-content: center;
  margin-top: 2%;
  overflow: hidden;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
}

.grid-steps img {
  width: 90%;
}

/* form */
.item1-form {
  grid-area: amount;
  border-right: 1px dashed rgba(128, 128, 128, 0.4);
}

.form-text {
  display: flex;
  justify-content: space-between;
}
.form-text p {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding: 4%;
}

.slider p {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  padding-left: 4%;
}
.slider {
  border: 1px solid #5b35d5;
  border-radius: 10px;
  margin: 4%;
}

.item2-form {
  grid-area: chosen;
  padding-top: 6%;
}

.item2-form label {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.item2-form input {
  margin-top: 4%;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.item3-form {
  grid-area: contact;
}

.item3-form input {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 3%;
  width: 75%;
}

.item3-form input:focus {
  border: 2px solid #5b35d5 !important;
}

.item3-form h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  padding-left: 2%;
  padding-bottom: 1%;
}

.form-pre {
  display: grid;
  grid-template-areas:
    "amount chosen"
    "contact contact";
  grid-template-columns: 50% 45%;
  grid-row-gap: 5%;
  grid-column-gap: 3%;
  justify-content: center;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
}

.formCard h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  padding-left: 4%;
}

.btn-sub {
  background: #003cff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  border: none;
  padding: 1.5% 4%;
  justify-content: end;
  cursor: pointer;
  transition: 0.5s;
}

.btn-sub:hover {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #003cff;
  color: #003cff;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  padding: 1.5% 4%;
  justify-content: end;
  cursor: pointer;
}

.item1-formdown {
  grid-area: lastname;
}
.item2-formdown {
  grid-area: firstname;
}
.item3-formdown {
  grid-area: patronymic;
}
.item4-formdown {
  grid-area: item;
}
.item5-formdown {
  grid-area: email;
}
.item6-formdown {
  grid-area: date;
}
.item7-formdown {
  grid-area: passports;
}
.item8-formdown {
  grid-area: passportn;
}

.content-form {
  display: grid;
  grid-template-areas:
    "lastname firstname patronymic item"
    "email date passports passportn";
  grid-template-columns: 26% 26% 26% 26%;
  grid-template-rows: 60% 60%;
  padding: 0% 2%;
}

.btn-form {
  text-align: right;
  padding-bottom: 5%;
  padding-right: 2%;
  padding-top: 2%;
}

.content-form p {
  color: red;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.content-form label span {
  color: red;
}

.item2-form p {
  color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}

.invalid {
  border: 2px solid red !important;
  background-image: url("/public/assets/error.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 97% 5px !important;
}

.check {
  background-image: url("/public/assets/check.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 97% 7px !important;
}

.formCard select {
  outline: 0;
  border: 2px solid #5b35d5;
}

.item4-formdown select {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 3%;
  width: 82%;
}

.support-form p {
  color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}

.formCard svg {
  padding-left: 44%;
  padding-right: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.max-min {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
}

.range {
  display: flex;
  justify-content: center;
}

.range input {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 90%;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #5b35d5;
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -10px; /* Centers thumb on the track */
  background-color: #5b35d5;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

/* 404 */

.item1-notfo {
  grid-area: text404;
  padding-top: 30%;
}

.item1-notfo h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  color: #1c1c1e;
}

.item1-notfo p {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  padding-bottom: 5%;
}

.item2-notfo {
  grid-area: img;
}

.notfound-grid {
  display: grid;
  grid-template-areas: "text404 img";
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 5%;
}

.notfound-grid a {
  background: #003cff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  line-height: 112%;
  border: none;
  padding: 2% 15%;
  justify-content: end;
  cursor: pointer;
  transition: 0.5s;
}

.notfound-grid a:hover {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #003cff;
  color: #003cff;
}

/* offer */

.item1-offer {
  grid-area: offer1;

  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  margin-right: 2%;
}

.offer-grid {
  display: flex;
  justify-content: center;
}

.offer-grid p {
  font-weight: 500;
  font-size: 16px;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 112%;
  color: #1c1c1e;
  text-align: center;
}

.surpise-img {
  padding-left: 15%;
  padding-top: 10%;
}

.btn-offer {
  background: #003cff;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  border: none;
  padding: 4% 17%;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20%;
  margin-left: 24%;
  margin-bottom: 14%;
}

.btn-offer:hover {
  background: #ffffff;
  border: 1px solid #003cff;
  color: #003cff;
}

/* result */
.result h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  color: #1c1c1e;
}

.result p {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  color: #4f5665;
  padding: 1% 4%;
}

.result {
  border: 1px solid #5b35d5;
  border-radius: 10px;
  padding: 4% 15%;
}

/* scoring */
.item1-scoring {
  grid-area: gender;
}
.item2-scoring {
  grid-area: status;
}
.item3-scoring {
  grid-area: number;
}
.item4-scoring {
  grid-area: passport;
}
.item5-scoring {
  grid-area: code;
}
.item6-scoring {
  grid-area: text1;
}
.item7-scoring {
  grid-area: empstat;
}
.item8-scoring {
  grid-area: inn;
}
.item9-scoring {
  grid-area: salary;
}
.item10-scoring {
  grid-area: position;
}
.item11-scoring {
  grid-area: total;
}
.item12-scoring {
  grid-area: current;
}

.item13-scoring {
  grid-area: btn;
  text-align: right;
  margin-right: 5.8%;
}

.body-scoring form {
  display: grid;
  grid-template-areas:
    "gender status number"
    "passport code code"
    "text1 text1 text1"
    "empstat inn salary"
    "position total current"
    "btn btn btn";
  grid-template-rows: 30% 30% 25% 30% 30%;
  grid-template-columns: 35% 35% 35%;
}
.scoring {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 2% 5% 23% 5%;
  margin-top: 5%;
}

.body-scoring input {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 3%;
  width: 75%;
}

.body-scoring select {
  background: #f9f5e3;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  padding: 3%;
  width: 75%;
}

.body-scoring p {
  color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 0;
}

.emp {
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 100% !important;
  padding-top: 2%;
  color: #000000 !important;
}

.item5-scoring input {
  padding: 1.5% !important;
  width: 64%;
  margin-left: 20%;
}
.item5-scoring p {
  margin-left: 20%;
}
.item5-scoring label {
  margin-left: 20%;
}

.item4-scoring input {
  width: 126%;
}

.header-scoring {
  display: flex;
}

.header-scoring h1 {
  margin-right: 5%;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
}

.header-scoring p {
  margin-top: 3.5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}

.desition {
  text-align: center;
  padding: 15%;
}

.desition h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #1c1c1e;
}

.desition p {
  font-weight: 500;
  font-size: 16px;
  line-height: 112%;
  letter-spacing: 0.02em;
  color: #4f5665;
}

/* payment */

.payment {
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 28px;
  padding: 2% 5% 10% 5%;
  margin-top: 5%;
}

.payment h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  color: #1c1c1e;
}

.payment p {
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: #000000;
  margin-left: 10%;
  margin-top: 3%;
}

.payment-header {
  display: flex;
}

.payment_header {
  font-weight: 500;
  font-size: 12px;
  color: #4a5568;
  text-align: left;
}

.payment_table {
  width: 100%;
}

.payment_table th,
td {
  border-bottom: 1px solid #ddd;
  padding: 2%;
}

.payment_table td {
  font-weight: 500;
  color: #1a202c;
  font-size: 14px;
}

.payment-footer {
  display: flex;
  justify-content: space-between;
}

.send {
  display: flex;
}

.deny {
  padding-top: 4%;
}

.deny-btn {
  background: rgba(217, 55, 55, 0.8);
  border-radius: 8px;
  border: 1px solid rgba(217, 55, 55, 0.8);
  padding: 30% 70%;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.deny-btn:hover {
  background: #ffffff;
  color: rgba(217, 55, 55, 0.8);
  border: 1px solid rgba(217, 55, 55, 0.8);
}

.send h5 {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #1a202c;
  margin: 15% 4%;
}

.send-btn {
  background: #003cff;
  border-radius: 8px;
  border: 1px solid #003cff;
  padding: 30% 70%;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.send-btn:hover {
  background: #fdfdfd;
  border: 1px solid #003cff;
  color: #003cff;
}

.send-btn:disabled {
  background: #0027a8;
  border: 1px solid #0027a8;
  color: #cacaca;
}

.send {
  display: flex;
}

.agree_check {
  margin: 10% 1%;
}

.snd {
  padding: 2%;
  margin-right: 15%;
  margin-top: 8%;
}

.message {
  text-align: center;
}
.message h1 {
  font-weight: 700;
  font-size: 34px;
  color: #1c1c1e;
  padding: 10% 0 2% 0;
}
.message p {
  font-weight: 500;
  font-size: 16px;
  color: #4f5665;
  padding-bottom: 20%;
}

/* modal */
.modalBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(200, 200, 200, 0.527);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 200px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #1c1c1e;
}

.titleCloseBtn {
  display: flex;
  justify-content: space-between;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #1a202c;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  padding: 3% 7%;
  margin: 10px;
  border: none;
  background: #003cff;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  cursor: pointer;
}

#cancelBtn {
  background: rgba(217, 55, 55, 0.8);
}

#ContinueBtn a {
  text-decoration: none;
  color: #fff;
}

/* sign */

.agree_check {
  grid-area: check;
}

.text_agree {
  grid-area: text;
}

.sign_btn {
  grid-area: btn;
  text-align: center;
}

.agree_check input {
  margin-top: 55%;
}

.sign-footer {
  display: grid;
  grid-template-areas: "check text btn";
  justify-content: end;
  grid-template-columns: 2% 10% 20%;
}

.sign-btn {
  background: #003cff;
  border-radius: 8px;
  padding: 5% 25%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #003cff;
  cursor: pointer;
  transition: 0.5s;
}

.sign-btn:hover {
  background: #ffffff;
  color: #003cff;
}

.sign-btn:disabled {
  background: #002396;
  color: #fff;
}

.sign-footer h5 {
  font-weight: 400;
  font-size: 18px;
  color: #1a202c;
  text-align: center;
  margin-top: 10%;
}

.sign_btn {
  padding-right: 5%;
}

.sign {
  padding-top: 10%;
}

.sign-header {
  display: flex;
}

.sign-header p {
  padding-left: 4%;
  padding-top: 1%;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.sign-body p {
  font-weight: 500;
  font-size: 20px;
  line-height: 112%;
  color: #4f5665;
  padding-bottom: 4%;
}

.link_sign {
  text-decoration: none;
  padding-left: 2%;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  padding-top: 2%;
}

.link_sign_block {
  display: flex;
}

.link_sign:hover {
  color: #003cff;
}

.sign h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 112%;
  color: #1c1c1e;
}

.result_sign {
  padding: 10%;
  text-align: center;
}

.result_sign h1 {
  font-weight: 700;
  font-size: 30px;
  color: #1c1c1e;
  padding-bottom: 2%;
}

.result_sign p {
  font-weight: 500;
  font-size: 16px;
  color: #4f5665;
}

/* code */

.code {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.code span {
  color: #ff5631;
  font-weight: 500;
  font-size: 16px;
}

.congrat {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.congrat a {
  text-decoration: none;
  padding: 1%;
  background: #003cff;
  border-radius: 16px;
  border: 1px solid #003cff;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
}

.congrat a:hover {
  background: #ffffff;
  color: #003cff;
}

.congrat p {
  font-weight: 500;
  font-size: 16px;
  line-height: 147.4%;
  color: #4f5665;
  padding-bottom: 2%;
}

.congrat h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 147.4%;
  color: #1c1c1e;
  padding: 1%;
}

.up {
  background-image: url("/public/assets/arrowUp.svg");
}
.down {
  background-image: url("/public/assets/arrowDown.svg");
}
.default {
  background-image: url("/public/assets/arrowUp.svg");
  filter: opacity(70%);
}

th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.formOffer svg{
  padding-left: 44%;
  padding-right: 40%;
  padding-top: 7%;
  padding-bottom: 7%;
}

.formScoring svg{
  padding-left: 44%;
  padding-right: 40%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.formDocument svg{
  padding-left: 44%;
  padding-right: 40%;
  padding-top: 15%;
  padding-bottom: 15%;
}