@media screen and (max-width: 1300px) {

  .support form {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  .pagination {
    padding-right: 0;
  }

  .item7-apply img {
    height: 200px;
  }
  .apply-t {
    font-size: 16px;
  }
  .apply-subtitle {
    padding-right: 7%;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .item3-form {
    font-size: 14px;
  }
}

@media screen and (max-width: 920px) {


  .support form {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .email {
    height: 69.84px;
    width: 45%;
    font-size: 14px;
    padding-right: 170px;
  }

  .support {
    margin-bottom: 10%;
  }

  .btn-support {
    width: 130.48px;
    height: 34.92px;
    font-size: 14px;
    padding: 4px;
    margin-top: 20px;
    margin-left: -164px;
    background-position: 13px;
  }

  .apply-title {
    font-size: 26px;
  }

  .item7-apply img {
    height: 100px;
    padding-top: 40%;
  }
  .apply-t {
    font-size: 14px;
    padding-right: 6%;
  }
  .apply-g {
    font-size: 14px;
    padding-right: 6%;
  }

  .btn-apply {
    font-size: 14px;
    padding: 10px;
  }

  .apply-subtitle {
    padding-right: 7%;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 14px;
  }
  .tabs {
    font-size: 14px;
  }

  .grid-cardup h1 {
    font-size: 16px;
    margin: 1% 0;
  }
  .grid-cardup img {
    height: 30px;
  }

  .grid-carddown h1 {
    font-size: 16px;
    margin: 1% 0;
  }
  .grid-carddown p {
    font-size: 14px;
  }
  .grid-carddown img {
    height: 30px;
  }

  .grid-cardup p {
    font-size: 14px;
  }

  .item3-form {
    font-size: 12px;
  }
  .formCard form {
    grid-template-areas:
      "amount amount"
      "chosen chosen"
      "contact contact";
    grid-template-columns: auto;
    grid-row-gap: 1%;
    grid-column-gap: auto;
  }

  .item1-form {
    border-right: none;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.4);
  }

  .content-form {
    grid-template-areas:
      "lastname "
      "firstname"
      "patronymic"
      "item"
      "email"
      "date"
      "passports"
      "passportn";
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0% 5%;
  }
  .item3-form input {
    width: 90%;
  }

  .btn-form {
    margin-bottom: 10%;
  }

  .content-form div {
    margin-top: 2%;
  }
  .table-rates {
    font-size: 14px;
  }

  .grid-cashback {
    font-size: 12px;
  }

  .grid-cashback h1 {
    margin: 4% 5%;
  }

  .styles_faq-row-wrapper__3vA1D h2 {
    font-size: 26px !important;
  }

  .styles_faq-row-wrapper__3vA1D
    .styles_row-body__1NvUo
    .styles_faq-row__2YF3c
    .styles_row-title__1YiiY
    .styles_row-title-text__1MuhU {
    font-size: 14px !important;
  }

  .grid-steps {
    font-size: 14px;
  }

  .formCard h1 {
    font-size: 20px;
    padding-right: 2%;
  }

  .form-text p {
    font-size: 14px;
    padding: 10px;
  }
  .item2-form label {
    font-size: 14px;
  }

  .item2-form input {
    width: 70%;
  }

  .item2-form {
    padding-left: 8%;
  }
  .slider p {
    font-size: 14px;
  }
  .item3-form h2 {
    font-size: 20px;
    padding-left: 5%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 500px;
  }


  .title-map {
    font-size: 26px;
  }

  .title-news {
    font-size: 26px;
  }

  .subtitle-support {
    font-size: 26px;
  }

  .bank-news {
    font-size: 26px;
  }

  .email {
    height: 49.84px;
    width: 50%;
    font-size: 14px;
    padding-right: 64px;
  }

  .support {
    margin-bottom: 10%;
  }

  .btn-support {
    width: 50.48px;
    height: 34.92px;
    font-size: 14px;
    padding: 4px;
    color: transparent;
    margin-top: 20px;
    margin-left: -64px;
    background-position: 13px;
  }

  .grid-apply {
    grid-template-areas:
      "title title title title"
      "subt subt subt subt"
      "pers pers pers img"
      "limit limit limit img"
      "service service service img"
      "but but but but";
    grid-template-columns: auto;
    overflow: hidden;
  }

  .item7-apply img {
    padding-top: 14%;
    height: 80px;
    padding-left: 20%;
  }
  .btn-apply {
    padding: 8px;
  }

  .tabs {
    font-size: 12px;
  }

  .grid-cardup {
    grid-template-areas:
      "one"
      "two"
      "three";
    grid-template-columns: auto;
    grid-template-rows: 30% 30% 30%;
  }

  .grid-carddown {
    grid-template-areas:
      "four"
      "five";
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-gap: 3%;
    justify-content: center;
  }
}
